@font-face {
    font-family: CursorGothic;
    src: url('./fonts/CursorGothic-Regular.woff2') format('woff2');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

*{
    background-color: #14120B;
    color: #EDECEC;
    padding: 0;
    box-shadow: none;
    font-family: CursorGothic, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

nav, main{
    margin: 0px 105px 0px 105px;
}

:root{
    --cursor-black: #14120B;
    --cursor-white: #EDECEC;
    --cursor-gray: #1B1913;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 52px;
}

.nav-icon{
    cursor: pointer;
}

.nav-icon .logo{
    width: 22px;
    height: 22px;
}

.nav-icon .word{
    width: 70px;
    height: 19px;
}

.nav-items ul{
    display: flex;
    list-style: none;
    gap: 30px;
    cursor: pointer;
}

.menu-item{
    font-size: 14px;
}

.nav-buttons .login,.Download{
    border-radius: 20px;
    padding: 5px 10px;
    /* margin: 3px; */
    text-decoration: none;
    margin-right: 8px;
    font-weight: 500;
    border: 1px solid rgb(100, 99, 99);
    font-size: 14px;
    cursor: pointer;
}

.nav-buttons .login{
    border: 1px solid rgb(66, 66, 66);
}

.nav-buttons .Download{
    background-color: #EDECEC;
    color: #14120B;
    border: none;
}

.hero{
    margin-top: 110px;
    font-size: 26px;
    line-height: 32px;
}

.hero-btn{
    display: flex;
    background-color: var(--cursor-white);
    color: var(--cursor-black);
    padding: 5px 2px 5px 25px;
    margin-top: 20px;
    border-radius: 25px;
    font-size: 16px;
    text-decoration: none;   
    align-items: center; 
    width: 200px;
}

.hero-btn p{
    background-color: var(--cursor-white);
    color: var(--cursor-black);
}

.hero-btn img{
    height: 17px;
}

.hero-ss{
    margin-top: 60px;
}

.hero-ss img{
    width: 100%;
}

.trusted-logos{
    margin-top: 50px;
}

.trusted-logos p{
    font-size: 14px;
    line-height: 24px;
    text-align: center;
}
.logo-cards{
    display: flex;
    margin-top: 20px;
    gap: 10px;
    justify-content:space-around;
}

.logo-card-company{
    background-color: #1B1913;
    width: 153px;
    height: 100px;
    display: flex;
    border-radius: 5px;
}

.logo-card-company img{
    width: 80px;
    padding: 10px;
    margin: 20px;
    background-color: #1B1913;
}

.feature{
    margin-top: 90px;
}

.feature-section-one, .feature-section-two, .feature-section-three {
    display: flex; 
    background-color: var(--cursor-gray);
}

.text, .image, .t1, .t2, .t3 {
    background-color: var(--cursor-gray);
    font-size: 22px;
    line-height: 30px;
    font-weight: 500;
    /* cursor: pointer; */
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px 15px 15px 20px;
    /* align-items: center; */
}

.image{
    margin: 20px;
}

.image img{
    width: 115vh;
    /* height: 680px; */
    border-radius: 5px;
}

.t1,.t2,.t3, .text{
    cursor: pointer;
}

.t2{
    color: #8E8E8E;
}

.t3{
    color: #F54E00;
    margin-top: 15px;
    font-size: 16px;
}

.t3:hover{
    color: #b9440d;
}

.feature-section-two{
    margin-top: 90px;
}

.feature-section-three{
    margin-top: 90px;
}

.feature-card{
    margin-top: 100px;
}

.card-p-text{
    text-align: center;
    font-size: 36px;
    line-height: 43px;
}
.card-tile{
    background-color: var(--cursor-gray);
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    width: 390px;
    height: 210px;
    border-radius: 4px;
    padding:20px;
}

.card-tile-para{
    background-color: var(--cursor-gray);
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.2px;
}

.celeb{
    display: flex;
    gap: 10px;
    align-items: center;
    /* margin-top: 50px; */
    background-color: var(--cursor-gray);
}

.celeb img{
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.info, .name, .company {
    background-color: var(--cursor-gray);
}

.info{
    font-size: 14px;
    line-height: 21px;
}

.company{
    color: #8E8E8E;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    /* justify-content:space-between; */
    gap: 10px;
}


.use-case{
    margin-top: 180px;
}

.use-case-head-text{
    font-size: 26px;
}

.use-case-container{
    display: flex;
    width: 300px;
    
    gap: 10px;
    margin-top: 20px;

}

.use-case-card, .use-case-card-image{
    width: 390px;
    background-color: var(--cursor-gray);
}

.use-case-card-image{
    border-radius: 5px;
    margin-top: 10px;
}

.use-case-card{
    padding: 20px;
    border-radius: 5px;
    height: 500px;
}

.use-case-card-text{
    background-color: var(--cursor-gray);
}


.c1,.c2,.c3{
    background-color: var(--cursor-gray);
    font-size: 16px;
    line-height: 24px;
}

.c2{
    color: #8E8E8E;
}

.c3{
    color: #F54E00;
    margin-top: 15px;
    font-size: 16px;
    cursor: pointer;
}

.c3:hover{
    color: #b9440d;
}

.final-cta{
    margin-top: 150px;
}
.final-cta-text{
    text-align: center;
    font-size: 72px;
    margin-bottom: 20px;
}

.final-cta-btn{
    display: flex;
    background-color: var(--cursor-white);
    color: var(--cursor-black);
    padding: 10px 5px 10px 15px;
    margin-top: 20px;
    border-radius: 25px;
    font-size: 16px;
    text-decoration: none;   
    align-items: center; 
    width: 200px;
    
}

.final-cta-btn p{
    background-color: var(--cursor-white);
    color: var(--cursor-black);
}

.final-cta-btn{
  margin: 0 auto;
  width: 190px;   /* required */
}

.final-cta-btn img{
    height: 17px;
}

footer{
    display: flex;
    width: 100%;
    margin-top: 150px;
    gap: 140px;
    padding-left: 100px;
    background-color: var(--cursor-gray);
}

.footer-col, .footer-head{
    background-color: var(--cursor-gray);
}

.footer-col{
    padding: 10px;
}

.footer-col ul{
    list-style: none;
}

.footer-col ul li{
    background-color: var(--cursor-gray);
    line-height: 30px;
    cursor: pointer;
    font-size: 14px;
}

.footer-col h3{
    font-size: 14px;
    color: #8E8E8E;
    margin-bottom: 10px;
}